
/*
* Thanks to http://livetools.uiparade.com/form-builder.html# for help with the design
*/
#createDiv, #retrieveByIdDiv, #displayDiv, #readAllDiv, #updateDiv, #deleteDiv, #displayTable, table{
    border: 1px solid #f2e3d2;
    background: #c9b7a2;
    background: -webkit-gradient(linear, left top, left bottom, from(#f2e3d2), to(#c9b7a2));
    background: -webkit-linear-gradient(top, #f2e3d2, #c9b7a2);
    background: -moz-linear-gradient(top, #f2e3d2, #c9b7a2);
    background: -ms-linear-gradient(top, #f2e3d2, #c9b7a2);
    background: -o-linear-gradient(top, #f2e3d2, #c9b7a2);
    background-image: -ms-linear-gradient(top, #f2e3d2 0%, #c9b7a2 100%);
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    -webkit-box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 0px 0;
    -moz-box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 0px 0;
    box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 0px 0;
    font-family: 'Helvetica Neue',Helvetica,sans-serif;
    text-decoration: none;
    vertical-align: middle;
    min-width:300px;
    padding:20px;
    width:300px;
    margin: 40px;
    }

    form input{
        border-radius: 15px;
        padding: 6px;
    }

    th , td, tr{
        padding: 6px;
        border-color: black;
    }

    body{
        background-color: beige;
    }

